.App{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("background.jpg");
  background-size: cover; /* Full screen me fit karne ke liye */
  background-repeat: no-repeat; /* Repeat nahi karna */
  height: 100vh; 
}
.mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: yellow; */
  min-height: 220px;
  min-width: 400px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 4px solid #f38b4c ;
  box-shadow: rgba(0, 0, 0, 0.35,3);
}
.inputValue{
  height: 30px;
  border-radius: 3px;
  border: none;
  padding-left: 5px;
  margin-right: 8px;
  font-size: 20px;
  color: rgb(151, 151, 11);

}
.inputValue:focus{
  outline: none;
}
.dropdown{
  height: 30px;
  border-radius: 3px;
  border: none;
  padding-left: 5px;
  margin-right: 8px;
  font-size: 20px;
}
.equalto{
  font-size: 35px;
  color: white;
}
.head{
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;

}